.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-image:
    linear-gradient(
      to bottom right,
      rgb(0, 0, 0) 0%,
      rgba(255, 255, 255, 0) 100%,
      rgb(0, 0, 0) 100%
    ),
    url("../assets/img/library.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card label {
  margin-top: auto;
  display: block;
  padding-top: 15px;
  color: var(--accent-green);
  font-weight: bold;
}

.sortbutton {
  font-size: 10px;
}
